{% extends "base.html" %}

{% block page_name %}Search{% endblock page_name %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
<h2>Search!</h2>

<form method="GET" action="{% url "rooms:search" %}">
    {{ form.as_p }}
    <button>Search</button>
</form>
<h4>Result</h4>
{% for room in rooms %}
<h3>{{ room.name }}</h3>
{% endfor %}

<h2>Result</h2>

{% if page.has_previous %}
      <a href="?page={{page.paginator.previous_page_number}}">Previous</a>
{% endif %}

    Page {{page.number}} of {{page.paginator.num_pages}}

    
    {% if page.has_next %}
      <a href="?page={{page.paginator.next_page_number}}">Previous</a>
    {% endif %}
        


{% endblock content %}